/* color:#2e3c45; */
header {
    width:100%;
    position:fixed; z-index:999;
    background: rgba(255, 252, 251, 0.97);
    margin:0 auto;
}
header h1 {
    padding:20px;
    text-align: center;
}
header h1 img {
    width:180px;
}
/* ----campaign1---- */
.campaign1 {
    background:rgb(239, 237, 237);
    margin:0 auto;
}
.campaign1 .container {
    width:100%; 
    position:relative;
}
.campaign1 .container video {
    position:relative;
    width:100%;
}
.campaign1 .container .text {
    position:absolute;
    top:10%; width:100%;
}
.campaign1 .container .text p {
    line-height:1.8;
    width:1220px;
    margin:0 auto;
    color:rgb(213, 213, 213);
    font-weight:600;
    text-align: left;
}
.campaign1 .container .text p:nth-child(1) {   
    font-family: 'Cinzel', serif; 
    padding-top:200px;
    font-size:3.5rem;
}
.campaign1 .container .text p:nth-child(2) {
    line-height: 2;
}
.campaign1 .container .text em {
    letter-spacing: 0.01em;
    /* font-family: 'Gowun Batang', serif; */
    font-size: 1.2rem;
    font-weight:200;
    color:rgb(213, 213, 213);
}
/* ---------campaign2-------- */
.campaign2 {
    padding-top:50px;
    background: rgb(239, 237, 237);
    text-align:center;
    width:100%;
    margin:0 auto;
}
.campaign2 .container {}
.campaign2 .container h1 {
    /* letter-spacing: 0.05em; */
        font-family: 'Cinzel', serif;
    /* color:rgb(236, 236, 236); */
    font-weight:500;
    font-size: 2.3rem;
    padding:20px;
}
.campaign2 .container iframe {
    padding:30px 0 100px;}
/* --------best-------- */
.best {
    padding-bottom:80px;
    background: rgb(239, 237, 237);
}
.best h2 {
    letter-spacing: 0.1em;
    font-family: 'Cinzel', serif;
    /* font-weight: 600; */
    padding:80px 0 30px;
    font-size:2rem;
    text-align:center;
}
.best #slider {
    margin:0 auto;
    width:1220px;
    max-width:100%;
    text-align:center;
}
.best #slider input[type=radio] {
    display:none;
}
.best #slider #slider1 {}
.best #slider #slider2 {}
.best #slider #slider3 {}
.best #slider #slider4 {}
.best #slider #slider5 {}
.best #slider #best_list {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-between;
    width:1220px;
    margin:0 auto;
}
.best #slider #best_list .best {
    background-size:auto cover;
    width:100%; height:250px; 
    overflow: hidden;
    /* display:inline-block; */
}
.best #slider #best_list .best1 {
    background: url(../images/best_1.png);
}
.best #slider #best_list .best2 {
    background: url(../images/best_2.png);
}
.best #slider #best_list .best3 {
    background: url(../images/best3.png);
}
.best #slider #best_list .best4 {
    background: url(../images/best4.png);
}
.best #slider #best_list .best5 {
    background: url(../images/best5.png);
}
.best #slider #best_list .slide-contents {}
.best #slider #best_list .best_name {}
.best #slider #best_list .best_price {}

/* -------campaign3-------- */
.campaign3 {
    margin:40px 0 80px;
}
.campaign3 .container {
    display:flex;
    flex-flow:row-nowrap;
    justify-content: space-between;
    width:1220px;
    margin:0 auto;
}
.campaign3 .container .img {
    height:500px;
    width:50%;
    background: url(../images/nord.png);
    background-size: cover;
}
.campaign3 .container .img:hover {
    transition:all 0.2s;
    height:500px;
    width:50%;
    background: url(../images/nord_1.png);
    background-size: cover;
}
.campaign3 .container2 .img {
    height:500px;
    width:50%;
    background: url(../images/nord_model.png);
    background-size: cover;
    background-position-x:95%;
}
.campaign3 .container2 .img:hover {
    transition:all 0.2s;
    height:500px;
    width:50%;
    background: url(../images/nord_2.png);
    background-size: cover;
    background-position-x:95%;
}
.campaign3 .container .text {
    padding:20px 0;
    width:570px;
}
.campaign3 .container .text h1 {
    font-size:1.5rem;
    padding-bottom:20px;
}
.campaign3 .container .text p {
    line-height:1.6;
    padding-bottom:50px;
}
.campaign3 .button {}
.campaign3 .container .text .button {
    text-align:center;
    background:rgba(158, 132, 116, 0.97);
    padding:20px;
}
.campaign3 .container2 {
    display:flex;
    flex-flow:row-nowrap;
    justify-content: space-between;
    width:1220px;
    margin:0 auto;
}
.campaign3 .container2 .text {
    padding:40px;
    width:500px;
}
.campaign3 .container2 .text h1 {
    font-size:1.5rem;
    padding-bottom:20px;
}
.campaign3 .container2 .text p {
    line-height:1.6;
    padding-bottom:50px;
}
.campaign3 .container2 .text .button {
    text-align:center;
    background:rgba(158, 132, 116, 0.97);
    padding:20px;
}
.campaign3 .text .button {border-radius:10px;}
/* ---------campaign4--------- */
.campaign4 {
    position:relative;
    height:50%;
    width:100%;
    background: url(../images/bg1.jpg);
    background-size: cover;
}
.campaign4::before {
    background-color: rgba(255, 255, 255, 0.25);
    content:''; display:inline-block; width:100%; height:100%;
    position: absolute;
}
.campaign4 .container {
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
    color:#fff;
    padding-top:80px;
    margin:0 auto;
    width:1220px;
}
.campaign4 .container h1 {
    font-size:2rem;
    padding-bottom:40px;
}
.campaign4 .container p {
    line-height:1.4;
    width:500px; 
    font-size:1.2rem;
}
.campaign4 .container .contents {
    position:relative;
    height:570px;
}
.campaign4 .container p:nth-child(1) {}
.campaign4 .container p:nth-child(2) {}
.campaign4 .container p:nth-child(3) {}
/* ----campaign4 contents2------- */
.campaign4 .container2 {
    text-align: center;
    padding-bottom:100px;
    width:1220px;
    margin:0 auto;
}
.campaign4 .container2 .contents2 {  
    color:#fff;  
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
}
/* ---cam4, contain2 모음--- */
.campaign4 .container2 .contents2 img {}
.campaign4 .container2 .contents2 h2 {font-size:2rem; }
.campaign4 .container2 .contents2 p {}
/* ------------------------------------- */
/* --------------footer-------------- */
footer {
    background:rgb(182, 182, 182);
}
footer .container {
    color: #fff;
    width:1220px;
    margin:0 auto;
}
footer .container address {
    text-align:center;
    padding:40px 0 100px;
}
footer .container h2 {
    padding-bottom:20px;
    font-size:1.5rem;
    text-align:center;
}
footer .container .brand {
    padding-bottom:100px;
    display:flex;
    flex-flow:row nowrap;
    justify-content: space-around;
}
footer .container .brand a  {
    display:inline-block;
    width:30%; 
    height:50px;
}
footer .container .brand img {width:300px; text-align:center;}
footer .container .brand .img1  {background:url(../images/brand1.png) no-repeat;    background-size: 70%;}
footer .container .brand .img1:hover {background:url(../images/brand2_hov.png)no-repeat;    background-size: 70%;}
footer .container .brand .img2  {background:url(../images/brand2.png)no-repeat;    background-size: 70%;}
footer .container .brand .img2:hover {background:url(../images/brand1_hov.png)no-repeat;    background-size: 70%;}
footer .container .brand .img3  {background:url(../images/brand3.png)no-repeat;    background-size: 100%;}
footer .container .brand .img3:hover {background-size: cover;}